body{
  background-color: #F4EEEB;
  background-size: cover;
  color: rgb();
  font-size: 20px;
  font-family: Avenir Next;
}

h1{
  font-family: Avenir Next;
  color: white;
  font-size: 35px;
}
h2 {
  font-family: Avenir;
  color: black;
  font-weight: lighter;
  font-size: 22px;
}

h3{
  font-family: Avenir Next;
  color: #545454;
  font-size: 35px;
}

h5{
  font-family: Avenir Next;
  color: white;
  font-size: 20px;
}



a {
  color: yellow;
}

label{
  font-family: Avenir;
  color: black;
  font-size: 22px;
}

form {
  margin: 0 auto;
  /*width: 50px;*/
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

select {
  font-family: Avenir;
  color: #545454;
  font-weight: lighter;
  font-size: 16px;
}

p {
  text-align: justify;
  font-family: Avenir;
  color: #545454;
  font-weight: lighter;
  font-size: 18px;
}

input[type=submit]{
  background-color: #FEAD32;
  border: none;
  font-size: 22px;
  color: white;
  border-radius: 4px;
  font-family: Avenir Next;
  padding: 16px 32px;
  margin: 0px 0px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

input:hover[type=submit]{
  background-color: #3EABAF;
  border: none;
  font-size: 22px;
  color: white;
  border-radius: 4px;
  font-family: Avenir Next;
  padding: 16px 32px;
  margin: 0px 0px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.center-div
{
  margin: 0 auto;
  width: 780px;
  height: 80px;
  border-radius: 7px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    outline: #545454;
    background-color: #545454;
    border-radius: 50%;
}

#menu_haut {
  background-color: #9BB291;
  padding: 20px;
  text-align: middle;
  }

#carouselExampleControls {
  background-color: #F4EEEB;
  font-family: Avenir Next;
  text-align: center;
  }

#formulaire {
  background-color: #F4EEEB;
  font-family: Avenir Next;
  padding: 60px;
  text-align: center;
  }

#valider {
  margin: 0 auto;
  width: center;
  }




#display a {
  background-color: #FEAD32;
  color: white;
  border: none;
}

#display a:hover {
  background-color: #3EABAF;
  color: white;
  border: none;
}




#footer {
  background-color: #9BB291;
  padding : 30px;
}

#footer a {
  color: lightgrey;
  font-size: 30px;
}
#footer a:hover {
  color: #3EABAF;
}


