body{
  background-color: white;
  background-size: cover;
  color: rgb();
  font-size: 20px;
  font-family: Avenir Next;
}
h1{
  font-family: Avenir Next;
  color: black;
  font-weight: lighter;
  font-size: 35px;
}
h2 {
  font-family: Avenir Next;
  color: white;
  font-weight: lighter;
  font-size: 18px;
}
a {
  color: yellow;
}

form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 400px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

#choix {
  background-color: #FEAD32;
  padding: 60px;
  text-align: middle;
  }

#menu_haut {
  background-color: #FEAD32;
  padding: 30px;
  text-align: middle;
  }

  #configurateur {
  background-color: #FEAD64;
  padding: 30px;
  text-align: middle;
  }

.card {text-align: center; padding: 40px}

#footer {
  background-color: orange;
  color : green;
  padding : 30px;
}

#footer a {
  color: lightgrey;
  font-size: 30px;
}
#footer a:hover {
  color: blue;
}


